<a href="https://colab.research.google.com/github/AndresFelipeDiazAcevedo/PROGCOM-A/blob/main/5k_Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estructuras de repeticion

Permite repetir una o mas acciones de acuerdo con una condicion (mientras se cumpla la condicion)

## Estructura para/for

1. cuando se sabe cuantas veces se va a repetir una accion
2. Esta conformado por una condicion inicial (c) una condicion final (cf) y pasos (frecuencia de repeticion)
3. esta estructura no se detendra hasta llegar al cf -1

### Estrctura general for

```
for(variable) in range(ci, cf+1, paso):
  se repite (cf+1-ci)/paso veces una accion
```

### Estructura resumida del for


```
for(variable) in range(cantidad):
  se repite cantidad de veces una accion
```

### Estructura for como iteracion
1. El para se repetira tantas veces como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteracion


```
lista= {1, 2, 3, 4, 5}
for (variable) in lista:
se repite len(lista)
```

In [2]:
n = int(input("Ingrese un número: "))

Ingrese un número: 7

In [3]:
print(f"Tabla del {n}")
for holitas in range(1, 11):
    print(f"{n} x {holitas} = {n * holitas}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [5]:
print("Tablas del 1 al 10\n")
for holitas in range(1, 11):
    print(f"Tabla de {holitas}")
    for numero in range(1, 11):
        print(f"{holitas} x {numero} = {holitas * numero}")
    print("")

Tablas del 1 al 10

Tabla de 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla de 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla de 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla de 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla de 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla de 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla de 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla de 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla de 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla de 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [24]:
print(f"Tabla del {n}")
for holitas in range(1, 11*n, n):
    print(f"{n} x {int(holitas/n)} = {n * (int(holitas/n))}")

Tabla del 7
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [26]:
numeros= {1,2,3,4,5,6,7,8,9,10}
for num in numero:
  print(f"{n} x {num} = {n * num}")

TypeError: 'int' object is not iterable

In [27]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]